* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    outline: none;
}

#header{
    background-color: #00ACC1;
    height: 50px;
    background-image: url(logo_header.png);
    background-repeat: no-repeat;
    background-position: 50px 10px;
    text-shadow: 0 0 black;
}
#container {
    width: 980px;
    margin: 150px auto;
}
.cate-other {
    margin: 50px 0px;
}
.cate-other .block-header{
    border-bottom: 1px solid #00ACC1;
}
.cate-other .block-header h3{
    background-color: #00ACC1;
    display: inline-block;
    color: white;
    font-size: 20px;
    padding: 5px 15px;
    font-weight: normal;
}
.cate-other ul {
    display: flex;
    flex-wrap: wrap;
}
.cate-other ul li{
    list-style: none;
    flex-basis: 25%;
    height: 35px;
    line-height: 35px;
    background-image: url(icons.png);
    background-repeat: no-repeat;
    margin: 10px 0px;
    background-position: 0px -157px;
}
.cate-other ul li a{
    font-family: inherit;
    text-decoration: none;
    padding: 5px 47px;
    color: black;
    font-size: 15px;
}
.cate-other ul li a:hover{
    color: #00ACC1;
    
}